.main {
  margin-top: 50px;
  margin-left: 500px;
  margin-bottom: 50px;
  width: 1024px;
  justify-content: center;
}

#table {
margin: 0px auto;
margin-top: 5%;
margin-bottom: 5%;
text-align: center;
align-items: left;
}


.snackchart {
margin: 0px auto;
margin-top: 5%;
align-items: right;
padding: 0;
}
