.main {
  margin-left: 500px;
  margin-bottom: 50px;
  width: 1024px;
  justify-content: center;
}

#table {
margin: 0px auto;
text-align: center;
float:left;
}


.vegchart {
margin: 0px auto;
float: left;
}
