<div class="main">
  <table id="table">
    <thead>
      <tr>
        <th>vegetable</th>
        <th>portion(oz)</th>
        <th>price</th>
        <th>calories</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of lists">
        <td>{{list.vegetable}}</td>
        <td>{{list.vegetablePortion}}</td>
        <td>{{list.vegetablePrice}}</td>
        <td>{{list.vegetableCalories}}</td>
      </tr>
    </tbody>
  </table>

  <div class= "vegchart" style="width: 50%;">
  <canvas
      baseChart
      [chartType]="'pie'"
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [legend]="true">
  </canvas>
  </div>
</div>
